*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #06ed06;
    color: #222;
}
.bookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

.NewBookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
@media screen and (min-width:768px) {

    .NewBookList{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:768px) {

    .bookList{
        grid-template-columns: repeat(3,1fr);
    }
}
.book{
    background: #ffff;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.book img{
width: 100%;
object-fit: cover;

}
.book h2{
    margin-top: 1rem;
    font-size: 1rem;
}
.MyBook {
     background: #ffff;
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
    
    .h2{
    margin-top: 1rem;
    font-size: 1rem;
}
}
.MyBook img{
      width: 100%;
object-fit: cover;
height: 350px;
    }
.MyBookList{
     width: 90vw;
    max-width: 1170px;
    max-height: fit-content;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
.MyBookList{
        grid-template-columns: repeat(3,1fr);
    }